In [11]:
import numpy as np
import pandas as pd
data = pd.read_excel('./xxx.xlsx')

In [15]:
data.corr()

              正己烷不溶物（INS)g      焦油产率       水产率      焦渣产率
正己烷不溶物（INS)g      1.000000  0.321584  0.084460 -0.199367
焦油产率              0.321584  1.000000  0.222148 -0.651314
水产率               0.084460  0.222148  1.000000 -0.845404
焦渣产率             -0.199367 -0.651314 -0.845404  1.000000

In [12]:
data.corr('spearman')

              正己烷不溶物（INS)g      焦油产率       水产率      焦渣产率
正己烷不溶物（INS)g      1.000000  0.175481 -0.011106 -0.029953
焦油产率              0.175481  1.000000  0.098191 -0.319952
水产率              -0.011106  0.098191  1.000000 -0.908025
焦渣产率             -0.029953 -0.319952 -0.908025  1.000000

In [14]:
data.corr("kendall")

              正己烷不溶物（INS)g      焦油产率       水产率      焦渣产率
正己烷不溶物（INS)g      1.000000  0.141164 -0.007199 -0.020754
焦油产率              0.141164  1.000000  0.084652 -0.242880
水产率              -0.007199  0.084652  1.000000 -0.748451
焦渣产率             -0.020754 -0.242880 -0.748451  1.000000